<html>
    <body>
        <form action="/crud">
            <h1>
                Rollno <input type="text" name="rno"><br>
                subject1<input type="text" name="sub1"><br>
                subject2<input type="text" name="sub2"><br>
                <input type="submit" value="Add" name="b">
                <input type="submit" value="Update" name="b">
                <input type="submit" value="Delete" name="b">
                <input type="submit" value="Result" name="b">
            </h1>
        </form>
        <h1>{{msg}}</h1>
    </body>
</html>